@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: dodgerblue;
        color: #FFCB05;
    }
</style>

<h1 style="text-align:center">Pokémon battle!</h1>
<img class="hoofdpagina-img" src="~/images/PokemonHoofdpagina.jpg" />
<div class="offset-4 col-4 href-text">
    <a href="@Url.Action("Index", "Gevecht")"><label>Spring in het gevecht!</label></a>
</div>