@model BeatThePokemon.Models.ViewModels.AanvallenGevechtViewModel
@{
    ViewData["Title"] = "Aanvallen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Aanvallen</h1>

<form class="row" method="get" asp-action="Index">
    @foreach (var a in Model.Aanvallen)
    {
        <div class="col-md-6">
            <button value="@a.Id" name="aanvalId" class="btn-aanval">@a.Naam</button>
        </div>
    }
</form>